
{{extend 'layout.html'}}

<style>
#article{
padding : 5px;
border : 1px solid black;
}
</style>

<script>
function approve(id){
$.ajax({
type: "POST",
url : "approve_ajax",
data : {"id":id},
success : function(){
 $('.article-' + id).remove();
}
});



}
</script>

{{for article in articles:}}
<div id="article" class="article-{{=article.id}}">
  <h4>{{=article.title}}</h4><br/>
  <img src="{{=URL('download', args=article.image_src)}}">
  <h5>Content:</h5>
  {{=article.content}}
  <br/>  <br/>
  <h5>Other infos:</h5>
  {{=article.user_name}}
    <br/>  <br/>
  <input type="button" value="Approve" onclick="approve({{=article.id}});">
</div>
{{pass}}
