#header {
    /* background-image : url('../banner.png'); */
    /* height : 330px; */
    /* width : 800; */

    margin-top : 15px;
    text-align : center;
    margin-bottom : 25px;
    /* -moz-border-radius-bottomleft : 8px; */
    /* -moz-border-radius-bottomright : 8px; */
    /* border-bottom-left-radius : 8px; */
    /* border-bottom-right-radius : 8px; */
    /* background-color : #cdd3ef; */
    /* height : 90px; */
}

#categories{
    width : 100%;
    height : 30px;
    margin-top : 8px;
    padding-top : 10px;
    text-align : center;

    border-top : 1px solid #CDD3EF;
    border-bottom : 1px solid #CDD3EF;
}

#categories a{
    text-decoration : none;
}

#categories ul{
    display : inline;
    list-style-type : none;
}

#categories #ami{
    color : black;
    font-weight : bold;
}

#categories li{
    display : inline;
    padding : 3px;
    padding-left : 4px;
    margin-left : 5px;
    background-color : #EDEFF4;
    margin-bottom : 5px;
    border-bottom : 1px solid #E5EAF1;
    border-radius: 8px;
    -moz-border-radius: 8px;    
}

#categories li:hover{
    opacity : 0.5;
}

/*
 * header
 */

#header #header-title{
    text-shadow: black 0.1em 0.1em 0.2em;
    display : block;
    margin-top : -10px;
    padding-top : 28px;
    font-size : 20px;
    font-weight : bold;
    color : white;
}

#header #header-citation{
    display : block;
    margin-top : 8px;
}

#notificator{
    display : none;
    position : fixed;
    top : 10px;
    right : 10px;
    font-weight : bold;
    padding : 15px;

    padding-left : 40px;
    padding-right : 40px;

    border-radius: 8px;
    -moz-border-radius: 8px;    
    background-color : #cdd3ef;
}

#wrapper{
    //border : 1px solid black; 
    // border-left : 1px solid #cdd3ef;
    // border-right : 1px solid #cdd3ef; 
}

#articles{
    width :900px;
}

#articles ul{
    display : inline;
    list-style-type : none;
}

#articles #internal-article a{
    text-decoration : none;
}

#articles #internal-article h3 a{
    color : black;
}

#articles #internal-article #user_name:hover{
    opacity : 0.5;
}

#articles #internal-article h3 a:hover{
    opacity : 0.5;
}

#articles #internal-article{
    margin : 5px;
    padding : 10px;


    border-bottom : 2px solid #cdd3ef;
}

#articles #user_name{
    color :#3B5998;
    font-weight : bold;
}

#articles #send_cmt{
    margin-top : 4px;
}

#articles h3{

}

#articles #article-header{
    margin-bottom : 10px;
}

#articles #article-vote{
    margin-top : 15px;
}

#articles #article-like{
    background-image : url('../images/like-dislike.png');
    display : block;
    width : 20px; 
    height : 20px;
    background-position : 0 0 ;
    float : left;
}

#articles #article-like:hover{
    background-position : 0px -40px;
}

#articles #article-dislike{
    background-image : url('../images/like-dislike.png');
    display : block;
    width : 20px; 
    height : 20px;
    background-position : 0 -20px ;
    float : left;
}

#articles #article-dislike:hover{
    background-position : 0px -60px;
}

#articles #article-image-inter{
    display : block;
    padding : 10px;
    border : 1px solid #CDD3EF;
}

/*
 *
 * Comments
 *
 */
#comments{
    width : 100%;
}

#comments li{
    background-color : #EDEFF4;
    margin-bottom : 5px;
    border-bottom : 1px solid #E5EAF1;
    max-width : 880px;
}

#comments #shown-comments{
}

#comments #hidden-comments{
    display : none;
}


#comments #comment-header{
    background-color : #cdd3ef;
    padding-left : 5px;
}

#comments #comment-content{
    padding-left : 7px;
}

#comments #comment_date{
    float : right;
    padding-right : 5px;
    font-size : 10px;
}

#comments #write-comments{
    width : 100%;
}

#comments .show-more-comments{
    font-size : 11px;
    font-weight : bold;
    padding-left : 2px;
}

#comments .show-more-comments:hover{
    opacity : 0.5;
}


#navigation-bar-top{
    margin-top: 10px;
    text-align:right;
    font-size : 10px;
}

#navigation-bar-bottom{
    margin-top: 10px;
    text-align:center;
    margin-bottom : 20px;
}

#new-page-loaded{    
    margin-bottom : 6px;
    width : 100%;
    height : 100px;
    background-color : #e4e5ec;
    border-radius: 8px;
    -moz-border-radius: 8px;    
    opacity : 0.9;

}

#new-page-loaded #text-content{
    text-align : center;
    display : block;
    font-weight : bold;
    padding-top : 40px;
}

#back-to-top{
    position : fixed;
    width : 150px;
    height : 50px;
    right : 5px;
    bottom : 5px;
    background-color :#cdd3ef;

    border-radius: 8px;
    -moz-border-radius: 8px;    
}

#back-to-top #text{
    text-align:center;
    font-weight : bold;
    margin-top : 15px;
}

#back-to-top #text:hover{
    opacity : 0.5;
}


/*
 * LOGIN
 */

#user_form{
    width : 890px;
    margin-top : 30px;
    min-height : 300px;
    padding-bottom : 50px;
    border-bottom : 2px solid #cdd3ef;
}


#user_infos{
    display : block;
    padding : 0px 0px 5px 5px;
}